BasedOnStyle: WebKit
UseTab: Always
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: 0
AlignConsecutiveAssignments: true
ColumnLimit: 120
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: true
AccessModifierOffset: -2
AlignTrailingComments: true
