[submodule "docs/theme/mdBook-pagetoc"]
	path = docs/theme/mdBook-pagetoc
	url = https://github.com/JorelAli/mdBook-pagetoc.git
[submodule "deps/yuescript"]
	path = crates/yuescript/yuescript
	url = https://github.com/pigpigyyy/Yuescript
[submodule "crates/yuescript/luacheck"]
	path = crates/yuescript/luacheck
	url = git@github.com:mpeterv/luacheck.git
[submodule "crates/yuescript/busted"]
	path = crates/yuescript/busted
	url = git@github.com:lunarmodules/busted.git
[submodule "crates/yuescript/penlight"]
	path = crates/yuescript/penlight
	url = git@github.com:lunarmodules/Penlight
[submodule "crates/yuescript/luafilesystem"]
	path = crates/yuescript/luafilesystem
	url = git@github.com:lunarmodules/luafilesystem
[submodule "crates/yuescript/lua-term"]
	path = crates/yuescript/lua-term
	url = git@github.com:hoelzro/lua-term.git
[submodule "crates/yuescript/luasystem"]
	path = crates/yuescript/luasystem
	url = git@github.com:o-lim/luasystem.git
[submodule "crates/yuescript/mediator_lua"]
	path = crates/yuescript/mediator_lua
	url = git@github.com:Olivine-Labs/mediator_lua.git
[submodule "crates/yuescript/lua_cliargs.git"]
	path = crates/yuescript/lua_cliargs
	url = git@github.com:amireh/lua_cliargs.git
[submodule "crates/yuescript/luassert"]
	path = crates/yuescript/luassert
	url = git@github.com:lunarmodules/luassert.git
[submodule "crates/yuescript/say"]
	path = crates/yuescript/say
	url = git@github.com:lunarmodules/say.git
