[submodule "docs/theme/mdBook-pagetoc"]
	path = docs/theme/mdBook-pagetoc
	url = https://github.com/JorelAli/mdBook-pagetoc.git
[submodule "deps/yuescript"]
	path = crates/yuescript/yuescript
	url = https://github.com/pigpigyyy/Yuescript
[submodule "crates/yuescript/luacheck"]
	path = crates/yuescript/luacheck
	url = git@github.com:mpeterv/luacheck.git
