@font-face {
	font-family: 'isoveka';
	font-weight: normal;
	font-style: normal;
	src: url('/home/thesignpainter/Documents/projects/emblem/emblem/docs/theme/fonts/isoveka.ttc') format('truetype');
	/* src: url('../../../fonts/isoveka.ttc') format('truetype'); */
}
