$dark_mode: 1;
$header_max: 6;
$title-font-family: 'Bodoni* 11', 'Amiri', serif;
$main-font-family: 'Bodoni* 06', 'Amiri', serif;
$alternate-font-family: 'Jost*', sans-serif;
$mono-font-family: 'Ubuntu Mono', monospace;

@function size($num) {
	$min_size: 12;
	$max_size: 24;
	@return ($min_size + ($num / $header_max) * ($max_size - $min_size)) * 1pt;
}

body {
	font-family: $main-font-family;
	font-variant-ligatures: discretionary-ligatures;
	font-variant-numeric: oldstyle-nums;
	font-size: size(0);
	hyphens: auto;
	@if $dark_mode != 0 {
		background-color: #2d2d2d;
		color: #dddddd;
	}
}

@media only screen {
	body {
		margin-left: 33vw;
		margin-right: 33vw;
		margin-top: 16vh;
		margin-bottom: 20vh;
	}
}

@media only paper {
	body {
		text-align: justify;
	}
}

.title {
	// font-size: size(2);
	display: block;
	font-size: 30pt;
	font-family: 'Bodoni* 11', serif;
	font-weight: bold;
	color: #00ff00;
}

.sc {
	font-variant: small-caps;
}

.bf {
	font-weight: bolder;
}

.it {
	font-style: italic;
}

.af {
	font-family: $alternate-font-family;
}

.tt {
	font-family: $mono-font-family;
	font-size: 2.1ex;
}

@for $i from 1 through $header_max {
	.h#{$i}, .h#{$i}\* {
		font-size: size(1 + $header_max - $i);
		font-family: $title-font-family;
		font-weight: bold;
		color: #00ff00;
	}
}
